* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f2f2f2;
    overflow-x: hidden;
    color: #333333;
}

.brand {
    font-family: 'Chivo', sans-serif;
}

h1, h2, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 4rem;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 4rem;
}

p, label, li, a {
    font-family: 'Cabin', sans-serif;
    line-height: 2rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*Navbar*/
nav {
    height: 5rem;
    background-color: #002352;
    padding-left: 2rem;
    max-width: 100vw;
}

.navbar-toggler {
    color: #E8C547 !important;
    background-color: #f2f2f2 !important;
}

nav a {
    color: #f2f2f2 !important;
}

/*Header*/
header {
    background: url(assets/parking-lot-bg.jpg) center;
    background-size: cover;
    height: 70vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

#hero-text {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    color: #f2f2f2;
    text-align: center;
    padding-bottom: 2rem;
}

#quote-button {
    border: #E8C547 solid 1px;
    border-radius: 1%;
    color: #f2f2f2;
    background: transparent;
    height: 3rem;
}

#quote-button:hover {
    background-color: #f2f2f2;
    color: #002352;
    border: #002352 solid 1px;
    transform: scale(1.1);
}

/*Services*/
.services-header {
    margin: 0 auto;
    text-align: left;
    border-left: #E8C547 solid .5rem;
}

.services-header h2 {
    display: inline-block;
    border-bottom: 1px transparent solid;
    transition: .8s;
}

.services-header h2:hover {
    border-bottom: #002352;
}

#services-right {
    border-left: .5rem solid #002352;
}

#services-call-btn {
    background: #E8C547;
    color: #002352;
    text-decoration: none;
}

#services-email-btn {
    border: solid 1px #002352;
}

.fa-check {
    color: #002352;
}

/*Footer*/
footer {
    background-color: #002352;
}

#footer-top {
    border-bottom: 1px #E8C547 solid;
    text-align: center;
    color: #f2f2f2;
}

/*Contact*/
#contact-container {
    border-left: solid .5rem #E8C547;
    margin-left: 6rem;
}

#contact-header {
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-btn {
    background-color: #E8C547;
    color: #22007C;
}

#contact-row h2 {
    justify-self: center;
}